backendcode/nodered_isafinal.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"fd953341.70cbd","type":"http in","z":"1411e5c1.213f5a","name":"","url":"/fili/adduser","method":"post","upload":false,"swaggerDoc":"","x":200,"y":60,"wires":[["94552cda.5947e"]]\},\{"id":"f0a21f66.b5f57","type":"http response","z":"1411e5c1.213f5a","name":"","statusCode":"","headers":\{\},"x":650,"y":60,"wires":[]\},\{"id":"94552cda.5947e","type":"function","z":"1411e5c1.213f5a","name":"","func":"newmsg = \{\};\\nnewmsg.payload = \{\};\\n\\nnewmsg.payload.nome = msg.payload.input.nome;\\nnewmsg.payload.sexo = msg.payload.input.sexo;\\nnewmsg.payload.morador = \\"true\\";\\nnewmsg.payload.pontuacao = 0;\\nnewmsg.payload.agendamento = [];\\nnewmsg.payload.tarefasfeitas = [];\\nnewmsg.payload.lembretes = [];\\nreturn [msg,newmsg];","outputs":2,"noerr":0,"x":430,"y":80,"wires":[["f0a21f66.b5f57"],["a077b6ee.9cd2d8"]]\},\{"id":"b73a3d80.878d2","type":"cloudant out","z":"1411e5c1.213f5a","name":"","cloudant":"","database":"dbfili","service":"waltercoanwatsoniot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":950,"y":100,"wires":[]\},\{"id":"b3891df2.96c43","type":"cloudant in","z":"1411e5c1.213f5a","name":"","cloudant":"","database":"dbfili","service":"waltercoanwatsoniot-cloudantNoSQLDB","search":"_idx_","design":"buscamorador","index":"morador","x":590,"y":320,"wires":[["5964f0b8.19162"]]\},\{"id":"a077b6ee.9cd2d8","type":"function","z":"1411e5c1.213f5a","name":"","func":"msg.payloadold = msg.payload;\\nmsg.payload = \{query:\\"nome:\\" + msg.payloadold.nome , limit:1\};\\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["b3891df2.96c43"]]\},\{"id":"5964f0b8.19162","type":"switch","z":"1411e5c1.213f5a","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"empty"\}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":200,"wires":[["3c7751ae.1ff51e"],["3c7751ae.1ff51e"]]\},\{"id":"3c7751ae.1ff51e","type":"change","z":"1411e5c1.213f5a","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"payloadold","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":120,"wires":[["b73a3d80.878d2"]]\},\{"id":"1a4dbf77.fdeab1","type":"http in","z":"1411e5c1.213f5a","name":"","url":"/fili/getusers","method":"post","upload":false,"swaggerDoc":"","x":170,"y":460,"wires":[["cbfa59ab.b25dd8","f2a8b82d.7fcd98"]]\},\{"id":"cbfa59ab.b25dd8","type":"function","z":"1411e5c1.213f5a","name":"","func":"msg.payloadold = msg.payload;\\nmsg.payload = \{query:\\"morador:true\\", limit:100\};\\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["a663ab2b.a15fa8"]]\},\{"id":"a663ab2b.a15fa8","type":"cloudant in","z":"1411e5c1.213f5a","name":"","cloudant":"","database":"dbfili","service":"waltercoanwatsoniot-cloudantNoSQLDB","search":"_idx_","design":"buscamorador","index":"morador","x":490,"y":480,"wires":[["79b48c4.3db0e74","9ad28643.00f958"]]\},\{"id":"1166c4c.cde9a3b","type":"http response","z":"1411e5c1.213f5a","name":"","statusCode":"","headers":\{\},"x":810,"y":360,"wires":[]\},\{"id":"79b48c4.3db0e74","type":"function","z":"1411e5c1.213f5a","name":"","func":"var nomes = \\"\\";\\nif (msg.payload != null)\{\\n    for(i=0;i<msg.payload.length;i++)\{\\n       nomes += msg.payload[i].nome + \\" \\"; \\n    \}\\n    msg.payload = \\"Olha eu conhe\'e7o \\" + nomes;\\n\}else\{\\n    msg.payload = \\"N\'e3o conhe\'e7o ningu\'e9m ainda, fale CADASTRAR\\";\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["1166c4c.cde9a3b"]]\},\{"id":"9ad28643.00f958","type":"debug","z":"1411e5c1.213f5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":560,"wires":[]\},\{"id":"f2a8b82d.7fcd98","type":"debug","z":"1411e5c1.213f5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":560,"wires":[]\},\{"id":"5a5d320e.00817c","type":"http in","z":"1411e5c1.213f5a","name":"","url":"/fili/regtarefa","method":"post","upload":false,"swaggerDoc":"","x":150,"y":660,"wires":[["60536f68.2fa64"]]\},\{"id":"a6f4159c.bd7158","type":"http response","z":"1411e5c1.213f5a","name":"","statusCode":"","headers":\{\},"x":930,"y":620,"wires":[]\},\{"id":"41bab3f2.befe4c","type":"function","z":"1411e5c1.213f5a","name":"","func":"var doc = msg.payload[0];\\n\\ndoc.pontuacao += 10;\\nvar tarefafeita = \{\\"tarefa\\": msg.payloadold.tarefa, \\"data\\":new Date().getTime()\};\\ndoc.tarefasfeitas.push(tarefafeita);\\n\\nmsg.payload = doc;\\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":760,"wires":[["a6f4159c.bd7158","5ff28cc.5858974"]]\},\{"id":"5ff28cc.5858974","type":"cloudant out","z":"1411e5c1.213f5a","name":"","cloudant":"","database":"dbfili","service":"waltercoanwatsoniot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":930,"y":820,"wires":[]\},\{"id":"db5d8633.c48c08","type":"cloudant in","z":"1411e5c1.213f5a","name":"","cloudant":"","database":"dbfili","service":"waltercoanwatsoniot-cloudantNoSQLDB","search":"_idx_","design":"buscamorador","index":"morador","x":430,"y":680,"wires":[["8ed9206d.1b81b"]]\},\{"id":"60536f68.2fa64","type":"function","z":"1411e5c1.213f5a","name":"","func":"msg.payloadold = msg.payload.input;\\nmsg.payload = \{query:\\"nome:\\" + msg.payloadold.nome , limit:1\};\\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":740,"wires":[["db5d8633.c48c08"]]\},\{"id":"8ed9206d.1b81b","type":"switch","z":"1411e5c1.213f5a","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"empty"\},\{"t":"else"\}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":800,"wires":[["69a24719.f8b9f8"],["69a24719.f8b9f8"],["41bab3f2.befe4c"]]\},\{"id":"69a24719.f8b9f8","type":"change","z":"1411e5c1.213f5a","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"N\'e3o encontrei esse morador","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":660,"wires":[["a6f4159c.bd7158"]]\},\{"id":"47d3c160.eda3a","type":"http in","z":"1411e5c1.213f5a","name":"","url":"/fili/pontuacao","method":"post","upload":false,"swaggerDoc":"","x":170,"y":1020,"wires":[["b7202c1b.0ba3b"]]\},\{"id":"fb56c007.918d6","type":"http response","z":"1411e5c1.213f5a","name":"","statusCode":"","headers":\{\},"x":950,"y":980,"wires":[]\},\{"id":"fab3896c.a4c948","type":"function","z":"1411e5c1.213f5a","name":"","func":"var doc = msg.payload[0];\\n\\n\\nmsg.payload = doc.pontuacao;\\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1120,"wires":[["fb56c007.918d6","5e10cbf3.508a94"]]\},\{"id":"6b0c8fc5.dfe6b","type":"cloudant in","z":"1411e5c1.213f5a","name":"","cloudant":"","database":"dbfili","service":"waltercoanwatsoniot-cloudantNoSQLDB","search":"_idx_","design":"buscamorador","index":"morador","x":450,"y":1040,"wires":[["2f4b1bca.8ee704","7303d723.31a6e8"]]\},\{"id":"b7202c1b.0ba3b","type":"function","z":"1411e5c1.213f5a","name":"","func":"msg.payloadold = msg.payload.input;\\nmsg.payload = \{query:\\"nome:\\" + msg.payloadold.nome , limit:1\};\\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1100,"wires":[["6b0c8fc5.dfe6b"]]\},\{"id":"2f4b1bca.8ee704","type":"switch","z":"1411e5c1.213f5a","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"empty"\},\{"t":"else"\}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":1160,"wires":[["8f7de802.ee1568"],["8f7de802.ee1568"],["fab3896c.a4c948"]]\},\{"id":"8f7de802.ee1568","type":"change","z":"1411e5c1.213f5a","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"N\'e3o encontrei esse morador","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1020,"wires":[["fb56c007.918d6"]]\},\{"id":"5e10cbf3.508a94","type":"debug","z":"1411e5c1.213f5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":1260,"wires":[]\},\{"id":"7303d723.31a6e8","type":"debug","z":"1411e5c1.213f5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":1300,"wires":[]\},\{"id":"43506f8.1c9f39","type":"http in","z":"1411e5c1.213f5a","name":"","url":"/fili/reglembrete","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1380,"wires":[["3c4ce9ab.cbbeb6"]]\},\{"id":"165dbf74.e55f31","type":"http response","z":"1411e5c1.213f5a","name":"","statusCode":"","headers":\{\},"x":930,"y":1340,"wires":[]\},\{"id":"adf4776d.80e2d8","type":"function","z":"1411e5c1.213f5a","name":"","func":"var doc = msg.payload[0];\\n\\n\\nvar lembrete = \{\\"lembrete\\": msg.payloadold.lembrete, \\"data\\":new Date().getTime()\};\\ndoc.lembretes.push(lembrete);\\n\\nmsg.payload = doc;\\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1480,"wires":[["165dbf74.e55f31","3d4f4fe7.15461"]]\},\{"id":"3d4f4fe7.15461","type":"cloudant out","z":"1411e5c1.213f5a","name":"","cloudant":"","database":"dbfili","service":"waltercoanwatsoniot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":930,"y":1540,"wires":[]\},\{"id":"ac30c4c0.2a9dc8","type":"cloudant in","z":"1411e5c1.213f5a","name":"","cloudant":"","database":"dbfili","service":"waltercoanwatsoniot-cloudantNoSQLDB","search":"_idx_","design":"buscamorador","index":"morador","x":430,"y":1400,"wires":[["f469032f.a3447"]]\},\{"id":"3c4ce9ab.cbbeb6","type":"function","z":"1411e5c1.213f5a","name":"","func":"msg.payloadold = msg.payload.input;\\nmsg.payload = \{query:\\"nome:\\" + msg.payloadold.nome , limit:1\};\\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1460,"wires":[["ac30c4c0.2a9dc8"]]\},\{"id":"f469032f.a3447","type":"switch","z":"1411e5c1.213f5a","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"empty"\},\{"t":"else"\}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":1520,"wires":[["6e31deae.4d6ae"],["6e31deae.4d6ae"],["adf4776d.80e2d8"]]\},\{"id":"6e31deae.4d6ae","type":"change","z":"1411e5c1.213f5a","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"N\'e3o encontrei esse morador","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1380,"wires":[["165dbf74.e55f31"]]\},\{"id":"2a8bb6a5.aa98da","type":"http in","z":"1411e5c1.213f5a","name":"","url":"/fili/ajuda","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1660,"wires":[["e7cce465.78ed38"]]\},\{"id":"e865573f.3bc928","type":"http response","z":"1411e5c1.213f5a","name":"","statusCode":"","headers":\{\},"x":910,"y":1620,"wires":[]\},\{"id":"bae61c2d.33fdc","type":"function","z":"1411e5c1.213f5a","name":"","func":"var doc = msg.payload[0];\\n\\nvar lemb = \\" eu lembro que voce deve \\";\\nfor(i=0;i<doc.lembretes.length;i++)\{\\n   lemb += doc.lembretes[i].lembrete + \\" \\"; \\n\}\\nif (doc.agendamento.length > 0)\{\\n    lemb += \\" e voc\'ea tem os agendamentos \\"\\n    for(i=0;i<doc.agendamento.length;i++)\{\\n       lemb += doc.agendamento[i].agendamento + \\" \\"; \\n    \}\\n\}\\nmsg.payload = lemb;\\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1760,"wires":[["e865573f.3bc928","16bfe9f.7b2dd16"]]\},\{"id":"cbd02263.266f8","type":"cloudant in","z":"1411e5c1.213f5a","name":"","cloudant":"","database":"dbfili","service":"waltercoanwatsoniot-cloudantNoSQLDB","search":"_idx_","design":"buscamorador","index":"morador","x":410,"y":1680,"wires":[["27f6800d.3f396","677ff200.30485"]]\},\{"id":"e7cce465.78ed38","type":"function","z":"1411e5c1.213f5a","name":"","func":"msg.payloadold = msg.payload.input;\\nmsg.payload = \{query:\\"nome:\\" + msg.payloadold.nome , limit:1\};\\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1740,"wires":[["cbd02263.266f8"]]\},\{"id":"27f6800d.3f396","type":"switch","z":"1411e5c1.213f5a","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"empty"\},\{"t":"else"\}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":1800,"wires":[["9a7e7469.0e37d8"],["9a7e7469.0e37d8"],["bae61c2d.33fdc"]]\},\{"id":"9a7e7469.0e37d8","type":"change","z":"1411e5c1.213f5a","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"N\'e3o encontrei esse morador","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1660,"wires":[["e865573f.3bc928"]]\},\{"id":"16bfe9f.7b2dd16","type":"debug","z":"1411e5c1.213f5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":1900,"wires":[]\},\{"id":"677ff200.30485","type":"debug","z":"1411e5c1.213f5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":1940,"wires":[]\},\{"id":"79b5084.07913f8","type":"http in","z":"1411e5c1.213f5a","name":"","url":"/fili/regagendamento","method":"post","upload":false,"swaggerDoc":"","x":190,"y":2020,"wires":[["4e867323.e1530c"]]\},\{"id":"ccb5dcd7.cb9d2","type":"http response","z":"1411e5c1.213f5a","name":"","statusCode":"","headers":\{\},"x":950,"y":1980,"wires":[]\},\{"id":"d32f39e8.7153e8","type":"function","z":"1411e5c1.213f5a","name":"","func":"var doc = msg.payload[0];\\n\\nvar agend = \{\\"agendamento\\": msg.payloadold.agendas, \\"data\\":new Date().getTime()\};\\ndoc.agendamento.push(agend);\\n\\nmsg.payload = doc;\\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2120,"wires":[["ccb5dcd7.cb9d2","b4eb0358.6e163"]]\},\{"id":"b4eb0358.6e163","type":"cloudant out","z":"1411e5c1.213f5a","name":"","cloudant":"","database":"dbfili","service":"waltercoanwatsoniot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":950,"y":2180,"wires":[]\},\{"id":"2e4cb016.a57fb","type":"cloudant in","z":"1411e5c1.213f5a","name":"","cloudant":"","database":"dbfili","service":"waltercoanwatsoniot-cloudantNoSQLDB","search":"_idx_","design":"buscamorador","index":"morador","x":450,"y":2040,"wires":[["c4d06544.e591c8"]]\},\{"id":"4e867323.e1530c","type":"function","z":"1411e5c1.213f5a","name":"","func":"msg.payloadold = msg.payload.input;\\nmsg.payload = \{query:\\"nome:\\" + msg.payloadold.nome , limit:1\};\\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":2100,"wires":[["2e4cb016.a57fb"]]\},\{"id":"c4d06544.e591c8","type":"switch","z":"1411e5c1.213f5a","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"empty"\},\{"t":"else"\}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":2160,"wires":[["c8bdcc54.e0e43"],["c8bdcc54.e0e43"],["d32f39e8.7153e8"]]\},\{"id":"c8bdcc54.e0e43","type":"change","z":"1411e5c1.213f5a","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"N\'e3o encontrei esse morador","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":2020,"wires":[["ccb5dcd7.cb9d2"]]\}]}